<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="" th:href="@{/css/News.css}"/>
    <link rel="stylesheet" href="" th:href="@{/css/Sidebar.css}"/>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/sideBar.js}"></script>
</head>
<body>
<div th:insert="blocks/SRMmenu :: srmmenu"></div>
<div class="text-center p-2">
    <h1>Новости</h1>
</div>
<section class="container grid" style="width: 70%">
    <article th:each="el : ${news}" class="grid-item">
        <div class="image">
            <img th:if="${el.new_image}" src="" th:src="@{/images/{filename}(filename = ${el.new_image})}" />
            <img th:if="not ${el.new_image}" src="https://upload.wikimedia.org/wikipedia/ru/1/1f/%D0%9D%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8_1_%D0%BA%D0%B0%D0%BD%D0%B0%D0%BB%D0%B0_2009.jpg" />
        </div>
        <div class="info">
            <h2 th:text="${el.title}">Название</h2>
            <div class="info-text">
            </div>
            <div class="button-wrap">
                <a class="atuin-btn" href="" th:href="@{/srm/news_list/{id}(id=${el.id})}">Подробнее</a>
            </div>
        </div>
    </article>
</section>

<div th:insert="blocks/scripts_footer :: scripts_footer"></div>
</body>
</html>