<div th:fragment="homemenu">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav col-12 mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2">Главная страница</a></li>
            <li><a href="/srm/news_list" class="nav-link px-2">SRM/Вход</a></li>
            <li><a href="/pricelist" class="nav-link px-2">Цены</a></li>
            <li><a href="/about" class="nav-link px-2">Про нас</a></li>
        </ul>
    </header>
</div>